.swiper-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    transition-property: transform;
    transition-duration: .5s;
    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.swiper-pagination {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
    text-align: center;
    span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 5px;
        background: rgba(255, 255, 255, .5);
        &.active {
            background: rgba(255, 255, 255, 1);
        }
    }
}